/* @font-face {
  font-family: 'wotfard';
  src: url('../assets/Wotfard-Regular-webfont/wotfard-regular-webfont.woff2') format('woff2'),
      url('../assets/Wotfard-Regular-webfont/wotfard-regular-webfont.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  font-family: "wotfard";
} */